@import url('https://fonts.google.com/specimen/Montserrat');
@import "tailwindcss";
*{
  background-color: rgb(31, 47, 39);
}
.InnerItems{
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background: transparent;
}
.OuterCard{
  background-color: rgb(83, 213, 148);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border: 2px solid rgb(155, 245, 209);
}
.OuterCard .title h2{
  text-align: center;
  color: rgb(31, 47, 39);
  font-family: 'Montserrat';
}
@keyframes glow {
  0% {
    text-shadow: 0 0 0px rgb(155, 245, 209);
  }
  100% {
    text-shadow: 0 0 15px rgb(155, 245, 209), 0 0 30px rgb(155, 245, 209);
  }
}

.glow-hover:hover {
  animation: glow 0.2s ease-in-out forwards;
}